body{
    /* background:rgb(130, 207, 130); */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.start{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background:green;
}
.kiki{
    width: 20%;
}

.title,h2{
    color: white;
    margin-left: -35%;
}
.menu{
    background: #000;
}
.menu, ul{
    display: flex;
    list-style: none;
}
ul li{
    padding: 15px;
}
ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.bg{
    width: 100%;
    height: 80vh;
    /* opacity: 0.8; */
}
.welcome{
    width: 40%;
    margin: auto;
    margin-top: -30%;
}
.welcome, h1{
    color: white;
    font-family: Cursive;
    text-align: center;
}
.welcome, p{
    text-align: left;
}
button{
    width: 20%;
    height: 6vh;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background:rgb(46, 167, 92);
    outline: none;
}
footer{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: rgb(77, 75, 75);
    margin-top: 15%;
    font-size: 12px;
}
.signup{
    margin-left:10% ;
}
.fmail{
    width: 55%;
    height: 5vh;
    border:none;
    background: rgb(185, 197, 185);
    
}
.cute{
    width: 20%;
    border-radius: 40px;
    margin-left: 15%;
    border:none;
    background:greenyellow;
    height: 5vh;
    outline: none;
}
.media{
    cursor: pointer;
}
.one{
    width:10% ;
    height: 6vh;
}
.two{
    width:10% ;
    height: 6vh;
}

.open{
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 7(1fr);
    width: 60%;
}